.container_estadistica {
  max-width: 1200px;
}

.container_estadistica .tab_selected {
  background-color: #2564eb; /* Color oscuro para el tab seleccionado */
  color: white;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.container_estadistica .tab_unselected {
  background-color: transparent; /* Sin fondo para tabs no seleccionados */
  color: #1e293b; /* Color de texto oscuro para tabs no seleccionados */
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container_estadistica .tab_unselected:hover {
  background-color: #d1d5db;
}

.container_estadistica .fechas_button {
  background-color: #2564eb; /* Fondo claro para los botones de fechas */
  color: #1e293b; /* Color de texto oscuro */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: none; /* Sin borde */
  background-color: #e5e7eb;
}

.container_estadistica .fechas_button.selected_date {
  background-color: #2564eb;
  /* color oscuro ??? #1e293b */
  color: white; /* Texto blanco para el botón seleccionado */
}

.container_estadistica .fechas_button.unselected_date:hover {
  background-color: #d1d5db; /* Fondo claro al pasar el mouse */
}

.container_estadistica .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.container_estadistica .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container_estadistica .team_icon .img_logo {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.container_estadistica .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #374151;
  margin-bottom: 1rem;
}

.container_estadistica .not_disputed_dot {
  font-size: 0.5rem;
  padding: 0.5px 3px;
}

/* @media (min-width: 768px) {
  .container_estadistica .cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .container_estadistica .tag_fecha {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container_estadistica .cards_container {
    grid-template-columns: repeat(3, 1fr);
  }
} */
@media (min-width: 1024px) {
  .container_estadistica .cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container_estadistica .cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .container_estadistica .cards_container {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna */
    gap: 1rem;
  }
  .container_estadistica .tag_fecha {
    display: none;
  }
}
